name: Linux

on: [push, pull_request]

env:
  # this test case does not actually test anything but tries to access system
  # directories that might be inaccessible on build hosts
  TESTS_CASES_EXCLUDE: sw_collector
  TESTS_REDUCED_KEYLENGTHS: yes
  CCACHE_BASEDIR: ${{ github.workspace }}
  CCACHE_COMPRESS: true
  CCACHE_MAXSIZE: 200M
  OS_NAME: linux

jobs:
  pre-check:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip-check.outputs.should_skip }}
    steps:
      - id: skip-check
        uses: fkirc/skip-duplicate-actions@master
        with:
          concurrent_skipping: 'same_content'

  crypto-plugins:
    needs: pre-check
    if: ${{ needs.pre-check.outputs.should_skip != 'true' }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, ubuntu-22.04 ]
        test: [ openssl-3, openssl-awslc ]
        leak-detective: [ no, yes ]
        exclude:
          # test custom-built libs only on the latest platform
          - os: ubuntu-22.04
            test: botan
          - os: ubuntu-22.04
            test: wolfssl
          - os: ubuntu-22.04
            test: openssl-3
          - os: ubuntu-22.04
            test: openssl-awslc
    env:
      LEAK_DETECTIVE: ${{ matrix.leak-detective || 'no' }}
      CC: ${{ matrix.compiler || 'gcc' }}
      TEST: ${{ matrix.test }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          # path is different on newer systems
          path: |
            ~/.cache/ccache
            ~/.ccache
          key: ccache-${{ matrix.os }}-${{ env.CC }}-${{ matrix.test }}-${{ github.sha }}
          restore-keys: |
            ccache-${{ matrix.os }}-${{ env.CC }}-${{ matrix.test }}-
            ccache-${{ matrix.os }}-${{ env.CC }}-all-${{ github.sha }}
            ccache-${{ matrix.os }}-${{ env.CC }}-all-
            ccache-${{ matrix.os }}-${{ env.CC }}-
      - run: |
          sudo apt-get install -qq ccache
          echo "PATH=/usr/lib/ccache:$PATH" >> $GITHUB_ENV
          ccache -z
      - uses: ./.github/actions/default
      - name: Test Vectors (detailed)
        env:
          TESTS_SUITES: vectors
          TESTS_VERBOSITY: 1
        run:
          ./scripts/test.sh
      - run: ccache -s
      - if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: Logs ${{ github.job }}
          path: config.log
          retention-days: 5
